<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Sanford</string>
	<key>Builder Version</key>
	<string>10601.1.39.0.2</string>
	<key>CFBundleDisplayName</key>
	<string>Add to Dash</string>
	<key>CFBundleIdentifier</key>
	<string>com.mzsanford.addtodash</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>add-to-dash-menu</string>
				<key>Title</key>
				<string>Add to Dash</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>safari.js</string>
				<string>jquery-1.10.2.min.js</string>
				<string>base.js</string>
				<string>cocoapods.js</string>
				<string>godoc.js</string>
				<string>rubygems.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Add document sets to Dash.app</string>
	<key>DeveloperIdentifier</key>
	<string>S3YY9923CH</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>godoc.org</string>
				<string>*.godoc.org</string>
				<string>rubygems.org</string>
				<string>*.rubygems.org</string>
				<string>cocoapods.org</string>
				<string>*.cocoapods.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
