<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>>com.mzsanford.addtodash</string>
       <key>Developer Identifier</key>
       <string>S3YY9923CH</string>
       <key>CFBundleVersion</key>
       <string>3</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://dash.mzsanford.com/AddToDash-v1.0.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
