
/* TODO: Style the button here */
.btn-add-to-dash {
  background-position: 2px center;
  background-repeat: no-repeat;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAWlJREFUOBFjXJH0ypORgWHufwYGSQYSAFDPc6CeZJY///7PZWAkTTPUHkmG/wxzWX4z/AcxyAWSLL/+Q3QbB/AwgDA28PbxH4az678wPDj3A0Oa2V2/qOEv0AlPbvxkAHqFQVqDHUMRFz8Tg7I5BwMLJyPD/cs/GEDqYZixO/YJXg9w8zMzaFpyMliH8DGwsjEybJ76juHmye9wS5h+/vvHgA+/e/+b4ei2Twy7Fr0HazJw4UZRz/T9/z8GZFy9RJYBhJHFQOyzx76ADZBQZEORY/kBDUS4m6AMdPF/UI/+/fOfAVmO5QfQC9gAuri+GS9Y2ZOHvxiQ5YAuwGEAVJyLm4nBzJqXISxGBGzA7u0fgC5A6MHpgjkrVTActnXTe4ajxz+hiLP8xBEGyKoePPjJsHTpa4YL578iC4PZjL5B1/CmAwwdaAKgpPwcKEZSTkQy4wXTr3+MKb///X/xG+gVkjADw1Og3mQAMDjxQTvKq8UAAAAASUVORK5CYII=");
  background-color: #eee;
  padding: 2px 2px 2px 20px;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}

/* Example: per-site button styling. */
.btn-add-to-dash.btn-godoc {
  padding: 4px 4px 4px 24px;
  font-family: monospace;
}

/* Example: eXtra elements */
.add-to-dash-floating {
  position: absolute;
  top: 8px;
  right: 8px;
}
